/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
    background:#fff;
    font-family: 'Open Sans';
    font-weight: normal;
    line-height: 1.39;
}

*{
    box-sizing:border-box;
}


/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}
.wrapper-container {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1060px;
    
}

/* =======================================================================
## ++ Grids
========================================================================== */
.grid-op-one, .grid-op-two, .grid-op-three, .grid-op-four, .grid-op-five, .grid-op-six, .grid-op-seven, .grid-op-eight, .grid-op-nine, .grid-op-ten, .grid-op-eleven, .grid-op-twelve {
float: left;
position: relative;
min-height: 1px;
padding-left: 0.9375rem;
padding-right: 0.9375rem;
}
.grid-op-twelve {
  width: 100%;
}
.grid-op-eleven {
  width: 91.66%;
}
.grid-op-ten {
  width: 83.33%;
}
.grid-op-nine {
  width: 75%;
}
.grid-op-eight {
  width: 66.66%;
}
.grid-op-seven {
  width: 58.33%;
}
.grid-op-six {
  width: 50%;
}
.grid-op-five {
  width: 41.66%;
}
.grid-op-four {
  width: 33.33%;
}
.grid-op-three {
  width: 25%;
}
.grid-op-two {
  width: 16.66%;
}
.grid-op-one {
  width: 8.33%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="grid-op-"] {
        width: 100%;
    }
}


section {
    box-sizing: border-box;
        display: table;
        position: relative;
        width: 100%;
}
/* =======================================================================
## ++ Buttons
========================================================================== */
.button {
    background-color: $primary-color;
    border-radius: 0px;
    margin: 0;
    border: none;
    color: $white-color;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: 'museosans500';
    padding: 10px 30px;
    &:hover {
        background-color: $white-color;
        color: $primary-color;
    }
}
   
/* =======================================================================
## ++hr
========================================================================== */
hr {
    box-sizing: content-box;
    height: 0;
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #f1f1f1;
}
.divider {
    margin-bottom: 25px;
        margin-top: 25px;
        display:block;
    border-color: #f1f1f1;
}
/* =======================================================================
## ++ Module
========================================================================== */
.module {
   display: block;
    .module-header { margin-bottom: 10px;
        .module-title { font-size: 24px; text-transform: uppercase;
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'museosans500';
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
        }
    }
}
.column_container {
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
